@media screen and (max-width: 1000px) {

  .burger-menu {
    padding: 20px 24px 20px 24px;
  }

  .header {
    padding: 20px 24px 20px 24px;
  }
  
  .section {
    padding: 0 24px 0 24px;
  }

  .home-section {
    padding-bottom: 80px;
  }

}

@media screen and (max-width: 800px) {

  .about-section {
    flex-direction: column;
    justify-content: center;
  }

  .text-block {
    width: 100%;
  }

  .temporary-element {
    display: none;
  }

  .users-container {
    flex-direction: column;
    align-items: center;
  }

  .user-account {
    width: 100%;
    padding: 20px 0 20px 0;
  }

  .contact-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-info-container {
    width: 100%;
    margin-bottom: 50px;
    flex-direction: column;
  }

  .contact-form-container {
    width: 100%;
  }

  .contact-form__input {
    width: 100%;
  }

}

@media screen and (max-width: 500px) {

  .close-button__img {
    width: 24px;
    height: 24px;
  }

  .burger-button__img {
    width: 24px;
    height: 24px;
  }

  .logo-img {
    width: 82px;
    height: 48px;
  }

  .header__phone-img {
    width: 24px;
    height: 24px;
  }

  .nav-list__nav-link {
    font-size: 40px;
  }

  .gallery-block__img1 {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  
  .gallery-block__img2 {
    grid-column-start: 4;
    grid-column-end: 7;
  }

  .gallery-block__img5 {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  
  .gallery-block__img6 {
    grid-column-start: 4;
    grid-column-end: 7;
  }

  .gallery-block__signature {
    grid-column-start: 1;
    grid-column-end: 7;
  }

}