* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --whiteColor: #fff;
  --blackColor: #000;
  --accentColor: #0075FF;
  --gray: #3E3E3E;
  --inputBackground: #F6F8FF;
  --buttonBackground: #005ECC;
  --inputBorder: #0075FF;
  --hoverButton: #005ECC;
  --hoverInput: #8F99A8;
}

body, html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.body.overflow {
  overflow: hidden;
}

.accent-color {
  color: var(--accentColor);
}

.burger-menu {
  display: none;
  width: 100%;
  height: 100%;
  padding: 20px 120px 20px 120px;
  position: absolute;
  top: 0;
  z-index: 900;
  background-color: var(--accentColor);
}

.burger-menu.menu-open {
  display: block;
}

.burger-icon-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.empty-element {
  width: 32px;
  height: 32px;
}

.burger-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* border: 3px solid red; */
}

.burger-menu__nav {
  margin-top: 100px;
}

.burger-menu__nav-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  /* border: 3px solid red; */
}

.nav-list__nav-item {
  list-style: none;
}

.nav-list__nav-link {
  color: var(--whiteColor);
  text-decoration: none;
  font-size: 50px;
  padding: 15px 0 15px 0;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 120px 20px 120px;
  top: 0;
  position: absolute;
  z-index: 800;
  background-color: transparent;
}

a {
  cursor: pointer;
}

.section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  padding: 0 120px 0 120px;
  /* border: 3px solid red; */
}

.home-section {
  width: 100vw;
  height: 100vh;
  position: relative;
  flex-direction: column;
  justify-content: end;
  background-image: url(../img/background/homeSection.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 0px;
  padding-bottom: 80px;
}

.line {
  display: inline-block;
  width: 70px;
  height: 5px;
  background-color: var(--whiteColor);
}

.section-title {
  font-size: 48px;
  letter-spacing: -1.5px;
  text-align: center;
  margin-bottom: 50px;
}

.home-title-group {
  font-size: clamp(26px, 7vw, 80px);
  color: var(--whiteColor);
}

.about-title {
  font-size: clamp(36px, 3vw, 48px);
  letter-spacing: -1.5px;
  text-align: left;
  /* border: 3px solid red; */
}

.text-block {
  width: 70%;
  font-size: clamp(16px, 2vw, 40px);
  /* border: 3px solid red; */
}

.text-block__title {
  font-size: clamp(24px, 3vw, 46px);
  margin-bottom: 30px;
}

.text-block__text {
  font-weight: 400;
  color: var(--gray);
}

.accent-text {
  font-weight: 700;
}

.gallery-section {
  flex-direction: column;
  justify-content: space-between;
}

.gallery-icon::before {
  content: url(../img/icons/corona.png);
  position: absolute;
  margin-top: 50px;
  margin-left: 50px;
}

.gallery-title {
  margin-bottom: 50px;
}

.gallery-block {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 5vw);
  gap: 24px;
}

.gallery-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.gallery-block__img1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
}

.gallery-block__img2 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 5;
}

.gallery-block__img3 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 5;
}

.gallery-block__img4 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 5;
}

.gallery-block__img5 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 5;
}

.gallery-block__img6 {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 5;
}

.gallery-block__signature {
  grid-column-start: 1;
  grid-column-end: 4;
  font-weight: 400;
  flex: 16px;
  margin: 0 0 50px 0;
}

.testimonials-section {
  flex-direction: column;
}

.testimonials-icon::before {
  content: url(../img/icons/corona.png);
  position: absolute;
  margin-top: 50px;
  margin-left: 110px;
}

.users-container {
  display: flex;
  justify-content: space-between;
}

.user-account {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* border: 3px solid red; */
}

.user-name {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin: 20px 0 0 0;
}

.user-comment {
  text-align: center;
  margin: 20px 0 0 0;
  font-size: clamp(16px, 0.7vw, 34px);
}

.contact-section {
  flex-direction: column;
}

.contact-container {
  display: flex;
  justify-content: space-between;
}

.contact-icon::before {
  content: url(../img/icons/corona.png);
  position: absolute;
  margin-top: 50px;
  margin-left: 90px;
}

.contact-info-container {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* border: 3px solid red; */
}

.contact-adress-container {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  /* border: 3px solid red; */
}

.info-contact-title {
  color: var(--gray);
  font-size: clamp(16px, 1.5vw, 34px);
  margin-top: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-form__input {
  width: 411px;
  height: 48px;
  margin-bottom: 16px;
  background-color: var(--inputBackground);
  border-radius: 8px;
  font-weight: 400;
  padding: 15px;
  border: none;
}

.contact-form__input:hover {
  border: 3px solid var(--hoverInput);
}

.contact-form__input:focus {
  border: 3px solid var(--inputBorder);
}

.contact-form__texarea {
  height: 144px;
  resize: none;
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 15px;
  background-color: var(--inputBackground);
  font-weight: 400;
  border: none;
}

.contact-form__texarea:hover {
  border: 3px solid var(--hoverInput);
}

.contact-form__texarea:focus {
  border: 3px solid var(--inputBorder);
}

.contact-form__btn {
  padding: 15px;
  border-radius: 8px;
  background-color: var(--buttonBackground);
  color: var(--whiteColor);
  font-weight: 700;
  border: none;
}

.footer {
  width: 100%;
  height: 50%;
  background-image: url(../img/background/footer.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: end;
  margin-top: 50px;
  padding: 25px;
}